<nav>
    <a href="/">Home</a>
    <a href="/pokedex">Pokedex</a>
    <a href="/genpokemon">GenPokemon</a>
</nav>

<style>
    nav {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        gap: 16px;
        padding: 20px;
    }

    a {
        color: #111827;
        text-decoration: none;
        transition: color 0.2s;
    }

    a:hover {
        color: rgb(78, 80, 86);
    }
</style>