---

const response = await fetch('https://pokeapi.co/api/v2/pokemon?limit=10');
const jsonResponse = await response.json();
const results = jsonResponse.results;
console.log(results);

const title = "My Pokedex";

---


<div>
    <h1>Pokedex</h1>
    <ul>
       {results.map((pokemon : any) => 
            <a href={`/pokemon/${pokemon.name}`}>
            <div class="pokemon-card">
                <li>{pokemon.name.toUpperCase()}</li>
            </div>
            </a>
       )}
    </ul>
</div>

<style>
    ul {
        list-style-type: none;
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    ul li {
        display: flex;
        justify-content: center;
        font-size: small;
    }

    h1 {
        display: flex;
        justify-content: center;
    }

    .pokemon-card {
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: white;
        transition: transform 0.2s, box-shadow 0.2s;
    }

    .pokemon-card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
        color:white  
    }

	a {
		text-decoration: none;
		transition: color 0.2s;
        color:black;      
	}
</style>