---
import pokemonLogo from '../assets/pokemon.svg';
---

<section id="hero">
	<a href="https://pokeapi.co/">
		<img src={pokemonLogo.src} width="640" alt="Pokedex API Homepage" />
	</a>
	<h1>
		Welcome to the Pokedex Webpage! Explore the world of Pokémon.
	</h1>
	<section id="links">
		<a class="button" href="https://pokeapi.co/">Visit Pokedex API</a>
	</section>
</section>

